/* styles/WebViewerLayout.css */

.floating-layout-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.viewer-canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}


.floating-toolbar {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  gap: 8px;
}

.selection-toolbar {
  position: absolute;
  bottom: 24px; /* distance from bottom of screen */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row; /* horizontal buttons */
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  gap: 8px; /* space between buttons */
}


/* Buttons inside toolbar */
.toolbar-btn {
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: outline, background-color 0.2s;
  border-radius: 6px;
}

.toolbar-btn:focus {
  outline: none;
}

.toolbar-btn:hover {
  outline: 2px solid rgba(255, 255, 255, 0.6);
}

/* Active buttons (e.g., selected selectionMode) */
.toolbar-btn.active {
  background-color: rgba(255, 255, 255, 0.178);
  outline: 2px solid #ffffff;
}

/* .toolbar-btn:hover {
  background-color: #333;
  color: white;
  border-radius: 8px;
} */

/* Checkbox toggle area */
.toolbar-toggle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  align-items: center;
}

.toolbar-toggle input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.toolbar-separator {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #444;
  width: 80%;
  align-self: center;
}

.model-toggle-container {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  border-radius: 8px;
  font-family: Arial;
}

.model-toggle button {
  background: none;
  color: #ccc;
  border: none;
  padding: 6px 12px;
  margin: 0;
  cursor: pointer;
  font-size: 13px;
  border-radius: 6px;
  transition: background 0.2s;
}

.model-toggle button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.model-toggle .active {
  background: #4FC3F7;
  color: black;
  font-weight: bold;
}
